body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    font-weight: normal;
    line-height: 135%;
    max-width: 40em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    color:;
}

header {
    margin-top: 20px;
    margin-bottom: 20px;
}
header p {
    margin-top:0.5em;
    margin-bottom: 0.5em;
}
p {
    margin-top:1em;
    margin-bottom: 1em;
    font-weight: lighter;
}

h1 {
    font-size: 1.75em;
    font-weight: normal;
    line-height: 130%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 1.55em;
    font-weight: normal;
    line-height: 130%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

h3 {
    font-size: 1.45em;
    font-weight: normal;
    line-height: 130%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

time {
    color: grey;
    font-weight: lighter;
}

a {
    color: black;
}

img {
    max-width: 100%;
}

figcaption {
    font-style: italic;
    font-size: 0.7em;
    text-align: center;
}

