body {
    font-weight: normal;
}

p {
    font-weight: lighter;
}

h1 {
    font-weight: normal;
}

h2 {
    font-weight: normal;
}

h3 {
    font-weight: normal;
}

time {
    font-weight: lighter;
}
