body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    line-height: 135%;
    max-width: 40em;

}

h1 {
    line-height: 130%;
}

h2 {
    line-height: 130%;
}

h3 {
    line-height: 130%;
}

time {
    color: grey;
}

a {
    color: black;
}

img {
    max-width: 100%;
}

figcaption {
    font-style: italic;
}

