
h1 {
    font-size: 1.75em;
}

h2 {
    font-size: 1.55em;
}

h3 {
    font-size: 1.45em;
}

figcaption {
    font-size: 0.8em;
    margin-left: 1em;
}

a {
    color: rgb(63, 180, 218);
    text-decoration: none;
}

a:hover {
    color: rgb(36, 114, 139);
}

header h1 {
    margin-bottom: 0.15em;
}