@import url(http://fonts.googleapis.com/css?family=Alegreya);

h1 {
    font-family: Alegreya;
}

h2 {
    font-family: Alegreya;
}

h3 {
    font-family: Alegreya;
}

figcaption {
    font-family: Alegreya;
}